@model Models.LogInRequest

<form method="post" action="/Account/LogIn">
    <div class="main-area">
        <div class="row g-1">
            <div class="col-12">
                <input
                 type="email"
                 class="form-control"
                 id="email"
                 placeholder="email"
                 asp-for="Email" />
            </div>
            <div class="col-12">
                <input
                 type="password"
                 class="form-control"
                 id="password"
                 placeholder="password"
                 asp-for="Password" />
            </div>
            <div class="col-6 d-grid">
                <a
                role="button"
                class="btn btn-dark"
                asp-controller="Account"
                asp-action="SignUp">
                Sign Up
                </a>
            </div>
            <div class="col-6 d-grid">
                <button type="submit" class="btn btn-dark">Sign In</button>
            </div>
        </div>
    </div>
</form>
